ion-icon.iconnotif {
	font-size: 25px
}

.lokasipin {
	--background: #f3f3f3;
}

.lokasipin ion-icon {
	margin-right: 10px;
}

.imgmenu {
  width:100px;
  height:100px;
}

.marginleft20 {
  margin-left:20px;
}

.marginright20 {
  margin-right:20px;
}

.righthead {
	text-align:right;
}

.lefthead {
	text-align:left;
}

.marginbot10 {
  margin-bottom:10px
}

ion-footer ion-title {
  font-size: 11px;
}

.btopdashed {
	border-top: 1px dashed #444;
	margin:20px;
}

ion-item p {
	font-size:14px;
}
