<ion-header no-border>
  <ion-toolbar>
    <ion-title>CLaundry Beta</ion-title>
  	<ion-buttons slot="end">
  		<ion-button>
    		<ion-icon class="iconnotif" slot="end" name="notifications-outline"></ion-icon>
		</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="none" class="lokasipin">
    	<ion-icon class="iconnotif" name="pin"></ion-icon>
    	<ion-label>Bogor</ion-label>
	</ion-item>

	<ion-item lines="none">
		<ion-chip>
    		<ion-avatar>
    			<img src="http://localhost/_ionic/keepmynotes/server_keepmynotes/images/logoheader/logoheader2.jpg">
			</ion-avatar>
			<ion-label>4rb Poin</ion-label>
		</ion-chip>
        <p class="marginleft20 marginbot10">
            <strong>CHANDRA GUSTIYA</strong><br/>
            Selamat Siang ...
        </p>
    </ion-item>
</ion-content>
